header.header 
    .header__wrapper
        .header__column
            a(href=routes.home)
                i.fab.fa-youtube
        .header__column
            form(action=routes.search, method="get")
                input(
                    type="text", 
                    placeholder="Search by term...",
                    name="term"
                )
        .header__column
            ul
                if !user.isAuthenticated
                    li
                        a(href=routes.join) Join
                    li
                        a(href=routes.login) Log In
                else
                    li
                        i.fas.fa-upload 
                        a(href=`/videos${routes.videoUpload}`) 
                            span Upload
                    li
                        i.fas.fa-user
                        a(href=routes.userDetail(user.id)) 
                            span Profile
                    li 
                        i.fas.fa-sign-out-alt
                        a(href=routes.logout)
                         span Log Out