header.header 
    .header__wrapper
        .header__column
            a(href=routes.home)
                i.fab.fa-youtube
        .header__column
            form(action=routes.search, method="get")
                input(
                    type="text", 
                    placeholder="Search by term...",
                    name="term"
                )
        .header__column
            ul
                if !user.isAuthenticated
                    li
                        a(href=routes.join)
                            i.fas.fa-user-plus 
                            span Join
                    li
                        a(href=routes.login)
                            i.fas.fa-sign-in-alt
                            span Log In
                else
                    li
                        a(href=`/videos${routes.videoUpload}`) 
                            i.fas.fa-upload     
                            span Upload
                    li
                        a(href=routes.userDetail(user.id)) 
                            i.fas.fa-user
                            span Profile
                    li 
                        a(href=routes.logout)
                            i.fas.fa-sign-out-alt
                            span Log Out
