extends layouts/main
block content
    h1 #{pageTitle}
    .user-profile
        .user-profile__header
            if user.avatarUrl
                .u-avatar
                    img.u-avatar(src=user.avatarUrl)
            else
                .u-avatar    
                    ion-icon(name="person")
            h4.profile__username=user.name  
    if user.id === loggedUser.id
        .user-profile__buttons
            .divider
            a(href=routes.userEditProfile)
                button.button-edit-profile
                    i.fas.fa-pencil-alt
                    span Edit Profile
            if user.type === "normal_user"
                a(href=routes.userChangePassword)
                    button.button-changePassword
                        i.fas.fa-user-lock
                        span Change Password
