extends layouts/main
block content
    h1 #{pageTitle}
    .user-profile
        .user-profile__header
            .u-avatar
                if user.avatarUrl
                    img.u-avatar(src=user.avatarUrl)
                else
                    ion-icon(name="person")
                //- if user.githubId !== null
                //-     i.avatar-icon.icon-github
                //- else if user.facebookId !== null
                //-     i.avatar-icon.icon-facebook
            h4.profile__username=user.name  
    if user.id === loggedUser.id
        .user-profile__buttons
            .divider
            a(href=`/users${routes.userEditProfile}`)
                button.button-edit-profile
                    i.fas.fa-pencil-alt
                    span Edit Profile
            if user.type === "normal_user"
                a(href=`/users${routes.userChangePassword}`)
                    button.button-changePassword
                        i.fas.fa-user-lock
                        span Change Password
