extends layouts/main
include mixin/videoBlock
include mixin/videoPlayer

block content
    h1 #{pageTitle}
    .video-detail__container
        +videoPlayer({
            src:video.fileUrl
        })
        .video__info
            if loggedUser !== null && video.creator.id === loggedUser.id 
                a(href=routes.videoEdit(video.id))
                    button.button-edit 
                        i.fas.fa-edit
                        span Edit Video
            h5.video__title=video.title
            p.video__description=video.description
            if video.views <= 1  
                span.video__views #{video.views} view
            else
                span.video__views #{video.views} views
            .video__author
                | Uploaded by 
                a(href=routes.userProfile(video.creator.id))=video.creator.name
        .video__comments
            if video.comments.length === 0
                span.video__comment-number No Comment
            else if video.comments.length === 1
                span.video__comment-number 1 Comment
            else
                span.video__comment-number #{video.comments.length} Comments
            form.add__comment#jsAddComment
                input(type="text", placeholder="Add a comment", name="comment")
            ul.video__comments-list
                each comment in video.comments
                    .comment__created
                        span.comment__creator
                            | #{getCreator(comment.creator)}
                        span.comment__createAt
                            | #{dateFormat(comment.createAt)}
                    li
                        span=comment.text
        
