extends layouts/main
include mixin/videoBlock
include mixin/videoPlayer
include mixin/commentBlock

block content
    h1 #{pageTitle}
    .video-detail__container
        +videoPlayer({
            src:video.fileUrl
        })
        .video__info
            if loggedUser !== null && video.creator.id === loggedUser.id 
                a(href=routes.videoEdit(video.id))
                    button.button-edit 
                        i.fas.fa-edit
                        span Edit Video
            h5.video__title=video.title
            p.video__description=video.description
            if video.views <= 1  
                span.video__views #{video.views} view
            else
                span.video__views #{video.views} views
            .video__author
                | Uploaded by 
                a(href=routes.userProfile(video.creator.id))=video.creator.name
        .video__comments
            if video.comments.length === 0
                span.video__comment-number No Comment
            else if video.comments.length === 1
                span.video__comment-number
                    span#jsCommentNumber 1 
                    |  Comment
            else
                span.video__comment-number
                    span#jsCommentNumber=video.comments.length
                    |  Comments
            form.add__comment#jsAddComment
                input(type="text", placeholder="Add a comment", name="comment", id=loggedUser.name)
            ul#jsCommentList
                each comment in video.comments.reverse()
                    +commentBlock(comment, loggedUser)
                    //- li 
                    //-     .comment__created
                    //-         //- img(src=comment.creator.avatarUrl).comment__avatar
                    //-         span.comment__creator=comment.creator.name
                    //-         span.comment__createAt
                    //-             | #{dateFormat(comment.createAt)}
                    //-     span.comment__message=comment.text
                    //-     if loggedUser !== null && comment.creator.id === loggedUser.id
                    //-         span(id=comment.id).comment__delete
                    //-             i.fas.fa-trash-alt
        
