extends layouts/main
include mixin/videoBlock

block content
    h1 #{pageTitle}
    .video__player
        video(src=`/${video.fileUrl}`)
    .video__intro
        a(href=routes.videoEdit(video.id)) Edit Video
        h5.video__title=video.title
        span.video__views=video.views
        p.video__description=video.description